:root {
  --sl-font: "IBM Plex Sans", sans-serif;
}

:root[data-theme="light"] {
  --sl-color-text-accent: #2563eb;
  --sl-color-orange: #fff394;
}

[data-theme="light"] .sl-badge.caution {
  --sl-color-bg-badge: var(--sl-color-orange-low);
  color: #777;
}

.sl-markdown-content img:not(:where(.not-content *)) {
  border: 1px solid #eee;
}
