---
const { code, disabled = false } = Astro.props;
---

<script
  type="module"
  src="http://cdn.jsdelivr.net/npm/vt-playground@0.1.3/dist/vt-playground.js"
></script>

<div class="not-content">
  <vt-playground code={code} {disabled}></vt-playground>
</div>
