---
const { url, height } = Astro.props;
---

<div class="not-content">
  <iframe
    title="Embedded interactive val"
    src={url}
    width="100%"
    height={height ?? "400px"}
    style="border: 1px solid #ccc; border-radius: 4px;"
    loading="lazy">
    &#x20;
  </iframe>
</div>
